* {
     font-family: Trebuchet MS;
}

body {
     background-color: #ffe3ed;
}

h1 {
     color: #f2a4b8;
}

a:hover {
     opacity: 50%;
}

.navbar {
     margin-top: -30px;
     margin-left: -15px;
     width: 102%;
     height: 75px;
     background-color: #f2a4b8;
}

.navbar p {
     text-align: center;
     color: white;
     padding: 17px 25px;
     font-size: 30px;
}

.main {
     width: 700px;
     margin: 50px auto;
     text-align: center;
     background-color: #ffffff;
     padding: 15px 25px;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.button {
    height: 40px;
}

.footer {
     width: 700px;
     margin: auto;
     margin-top: -25px;
     margin-bottom: 25px;
     padding: 5px 25px;
     background-color: #f2a4b8;
}

.footer p {
     text-align: center;
     color: white;
}
